<template name = "general">


	<style>
		.submissionfield {
    		width: 75%;
    		height: 200px;
    		border: 2px solid #999999;
    		padding: 5px;
		}

		h1 {
			font-size: 345%;
			font-weight: bolder;
		}

		h3 {
			width: 75%;
			margin-left: 12.5%;
		}

		#lefty {
			background-color: black;
			height: 2680px;
			z-index: 99999;
		}

		#appTitle {
			position: fixed;
			margin-left: 5%;
			font-weight: lighter;
			color: white;
		}

		#questions {
			float: right;
		}

		.indivQuestion {
			font-weight: lighter;;
		}

    .shortQ {
      height: 40px;
      border: 0px;
      background-color: gray;
      color: white;
    }

    select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  width: 75%;
  text-align: center;
}



	</style>


<div class = "row">
	<div id = "lefty" class = "col-md-4">
		<h1 id = "appTitle"> <br><br> GENERAL <br> APPLICATION </h1>
	</div>
	<div id = "questions" class = "col-md-8">
		<h1><br> A&O GENERAL QUESTIONS </h1>

		<form action="https://formspree.io/dgl@u.northwestern.edu"
	      method="POST">
        <h3 class = "indivQuestion" > Just so we can make sure we know whose application this is, what's your name? </h3>
        <input class = "submissionfield shortQ" placeholder = "HI. MY NAME IS:" type="text" name="name"><br>

        <h3 class = "indivQuestion" > What is your school email address? </h3>
        <input class = "submissionfield shortQ" placeholder = "EMAIL ADDRESS" type="text" name="name"><br>

        <h3 class = "indivQuestion" > What year are you? </h3>
        <select class = "shortQ" id = "yearBox" name = "year">
          <option value = "senior"> 2017 &#9660; </option>
          <option value = "junior"> 2018 &#9660;</option>
          <option value = "sophomore"> 2019 &#9660;</option>
          <option value = "freshman"> 2020 &#9660;</option>
        </select><br>

        <h3 class = "indivQuestion" > Please rank your top 3 committee preferences </h3>
        <select class = "shortQ" name = "Committe1">
          <option value = "Concerts"> Concerts &#9660; </option>
          <option value = "Development"> Development &#9660;</option>
          <option value = "MM"> Marketing and Media &#9660;</option>
          <option value = "Films"> Films &#9660;</option>
          <option value = "Speakers"> Speakers &#9660;</option>
          <option value = "Finance"> Finance &#9660;</option>
          <option value = "Productions"> Productions &#9660;</option>
        </select><br>

        <select class = "shortQ" name = "Committe2">
          <option value = "Concerts"> Concerts &#9660; </option>
          <option value = "Development"> Development &#9660;</option>
          <option value = "MM"> Marketing and Media &#9660;</option>
          <option value = "Films"> Films &#9660;</option>
          <option value = "Speakers"> Speakers &#9660;</option>
          <option value = "Finance"> Finance &#9660;</option>
          <option value = "Productions"> Productions &#9660;</option>
        </select><br>

        <select class = "shortQ" name = "Committe3">
          <option value = "Concerts"> Concerts &#9660; </option>
          <option value = "Development"> Development &#9660;</option>
          <option value = "MM"> Marketing and Media &#9660;</option>
          <option value = "Films"> Films &#9660;</option>
          <option value = "Speakers"> Speakers &#9660;</option>
          <option value = "Finance"> Finance &#9660;</option>
          <option value = "Productions"> Productions &#9660;</option>
        </select><br><br><br>

	      <h3 class="indivQuestion"> Why do you want to be a part of A&O?
 </h3>
	    <input class="submissionfield" placeholder = "WHY DO YOU WANNA BE A PART OF CONCERTS?" type="text" name="q1"><br>

	      <h3 class="indivQuestion"> What time commitments do you have for the 2016-2017 academic year?  </h3>
	    <input class="submissionfield" placeholder = "EXPLAIN YOUR TOP THREE" type="text" name="q2"><br>

	      <h3 class="indivQuestion"> What skills and experiences can you bring to A&O? </h3>
	    <input class="submissionfield" placeholder = "EXPLAIN YOUR TOP THREE" type="text" name="q3"><br>

	      <h3 class="indivQuestion"> Every year, board members have the opportunity to act as our official photographer, documenting shows and the work we do behind the scenes. If you are interested in applying for this position, please provide a portfolio of your work along with your application.
 </h3>
	    <input class="submissionfield" placeholder = "HOW HAVE WE BEEN DOING?" type="text" name="q4"><br>

	      <h3 class="indivQuestion">  If you are a Freshman would you be interested in joining the Street Team? </h3>
	    <input class="submissionfield" placeholder = "WHO'S UP NEXT?" type="text" name="q5"><br>

	      <h3 class="indivQuestion"> Where do you find new music? (i.e. blogs, friends, Spotify, the radio, etc.). </h3>
	    <input class="submissionfield" placeholder = "WHERE DO YOU FIND NEW JAMS?" type="text" name="q6"><br>

	      <h3 class="indivQuestion"> What is your favorite Kanye West album? (Elaborate on your choice) </h3>
	    <input class="submissionfield" placeholder = "PLEASE DON'T SAY YOU DON'T HAVE ONE" type="text" name="q7">

	    <BR><BR><BR>

	    <input type="submit" value="SUBMIT THIS SHIT">
	</form>
	</div>
</div>



</template>
