<template name="home">
  <section class="container-fluid">
    <div class="row">
      <div class="owl-carousel banner-carousel">
        <div class="item">
          <a href="https://www.facebook.com/events/853894561397730/" target="_blank">
            <img src="/images/banners/blowout_fall_2015.jpg" alt="Owl Image">
          </a>
<!--           <div class="caption top_left">
            <div class="text">
              <h1><span class="magenta_label">Some Awesome Event</span></h1>
              <h3><span class="magenta_label">Monday &amp; Wednesday</span></h3>
            </div>
          </div> -->
        </div>
        <div class="item">
          <img src="/images/banners/join.jpg" alt="Owl Image">
<!--           <div class="caption top_left">
            <div class="text">
              <h1><span class="magenta_label">Some Awesome Event</span></h1>
              <h3><span class="magenta_label">Monday &amp; Wednesday</span></h3>
            </div>
          </div> -->
        </div>
        <div class="item">
          <img src="/images/banners/films_fall_2015.jpg" alt="Owl Image">
<!--           <div class="caption bottom_right">
            <div class="text">
              <h1><span class="cyan_label">Mustaches</span></h1>
              <h3><span class="cyan_label">Err day</span></h3>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </section>
  <section class="container">
    <div class="row mission">
      <div class="col-md-2 col-md-offset-2 col-xs-6 col-xs-offset-3 ">
        <img class="img-responsive" src="/images/ao.svg">
      </div>
      <div class="col-md-6 col-xs-12 text">
        <p>A&O Productions is the student-run programming board of Northwestern University, with a schedule of concerts, speakers, and films that provides over 40 annual events of entertainment programming to the student body. Click here to learn more</p>
      </div>
    </div>
    <div class="row info">
      <h2 class="text-center">BLOWOUT 2015 DAY-OF-INFORMATION</h2>
      <p class="text-center">Below you will find relevant information related to the show and transportation to and from the event. A&O strongly encourages you to use the available, free transportation.</p>
      <div class="col-md-6 col-md-offset-3">
        <ul>
          <li>Doors to the Aragon open at 7:00 PM.</li>
          <li>Buses leave from two locations: Cahn Auditorium on Emerson St. and Long Field on Lincoln St, north of Elder. </li>
          <li>Busing begins at 6:00 PM -- the last shuttle leaves campus at 8:00pm. WildCARDS will be checked while boarding busses. No food or drink allowed.  </li>
          <li>The show begins at 7:00pm. Streetbeat DJ's, Freddy Mummix and RIOT URRRL will spin from 7-8. Earl Sweatshirt will perform from 8:15-9:15 followed by Icona Pop from 9:30-10:30.</li>
          <li>At the end of the show, buses will leave the Aragon and drop off students at Cahn and Lincoln.</li>
          <li>There will be no re-entry to this event. Once you exit the venue, you will not be allowed back in.</li>
          <li>This performance WILL use strobe lights.</li> 
        </ul>
      </div>
      <div class="col-md-4 col-md-offset-2">
        <h3>Things TO Bring to A&O Blowout:</h3>
        <ul>
          <li>Your ticket. Please print off your ticket from your <a href="http://nbo.universitytickets.com/user_pages/event_listings.asp" taarget="_blank">Norris Box Office Online profile (your Net-ID).</a></li>
          <li>Your Northwestern WildCARD. WildCARDs WILL be checked at the venue by Northwestern staff.</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Things NOT to Bring to A&O Blowout:</h3>
        <ul>
          <li>Valuables</li>
          <li>Cameras</li>
          <li>Alcohol or other drugs</li>
          <li>Liquids of any sort</li>
          <li>Illicit items or weapons</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="container-fluid large_top_margin parallax parallax-1">
    <div class="row ask text-center">
      <a href="https://aoproductions.typeform.com/to/Vlj1Gh" target="_blank">
        <h1><span class="magenta_label">Want to work</span></h1>
        <h1><span class="yellow_label">with us?</span></h1>
        <h2><span class="grey_label">Click here>>></span></h2>
      </a>
    </div>
  </section>
  <section class="container home_cal">
    <section class="row calendar {{#unless turnOffSquare}}row-centered{{/unless}}">
      {{#if upcomingEvents}}
        <div class="col-md-2 {{#unless turnOffSquare}}col-centered h{{/unless}}">
          <div class="month_block">
              <h3>Upcoming Events:</h3>
          </div>
        </div>
        {{#each upcomingEvents}}
          <div class="col-md-2 col-centered {{#unless turnOffSquare}}h{{/unless}}">
            <div class="event_block cyan">
              <a href="https://www.facebook.com/{{id}}" target="_blank">
                <h3 class="text-right">{{formatDate start_time}}</h3>
                <h3>{{name}}</h3>
              </a>
            </div>
          </div>
        {{/each}}
      {{else}}
        <div class="col-md-2 {{#unless turnOffSquare}}col-centered  h{{/unless}}">
          <div class="month_block">
              <h3>Past Events:</h3>
          </div>
        </div>
        {{#each pastEvents}}
          <div class="col-md-2 {{#unless turnOffSquare}}col-centered  h{{/unless}}">
            <div class="event_block cyan">
              <a href="https://www.facebook.com/{{id}}" target="_blank">
                <h3 class="text-right">{{formatDate start_time}}</h3>
                <h3>{{name}}</h3>
              </a>
            </div>
          </div>
        {{/each}}
      {{/if}}
      <div class="col-md-2 {{#unless turnOffSquare}}col-centered  h{{/unless}}">
        <div class="month_block">
          <h3>
            <a href="{{pathFor route='calendar'}}">See more...</a>
          </h3>
        </div>
      </div>
    </section>
  </section>


</template>
