<template name="home">
   <div id="content" class="container-fluid no-gutters full-height">
    <section class="row">
      {{> eventCarousel}}
    </section>
    <section class="row">
      <div class="col-md-2 col-md-offset-2">
        <img class="img-responsive" src="/images/logo.png">
      </div>
      <div class="col-md-6">
        <p>A&O Productions is the student-run programming board of Northwestern University, with a schedule of concerts, speakers, and films that provides over 40 annual events of entertainment programming to the student body. Click here to learn more</p>
      </div>
    </section>
  </div>
</template>
