<template name="about">
  <div class="container top_padding">
    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <img src="/images/ao.svg" class="img-responsive">
      </div>
      <div class="col-md-4 large_top_padding">
        <h1 class="yellow_label">Established 1969</h1>
        <p>
          A&O Productions is the student-run programming board of Northwestern University, with a schedule of concerts, speakers, and films that provides over 40 annual events of entertainment programming to the student body. Click here to learn more
        </p>
      </div>
    </div>
    <section>
      <div class="row">
        <div class="col-md-2">
          <h1 class="magenta_label no_margins top_margin">Exec Board:</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 text-center">
          <img src="/images/ao.svg" class="img-responsive">
          <h4>Nikhil Pai</h4>
        </div>
        <div class="col-md-2 text-center">
          <img src="/images/ao.svg" class="img-responsive">
          <h4>Nikhil Pai</h4>
        </div>
        <div class="col-md-2 text-center">
          <img src="/images/ao.svg" class="img-responsive">
          <h4>Nikhil Pai</h4>
        </div>
        <div class="col-md-2 text-center">
          <img src="/images/ao.svg" class="img-responsive">
          <h4>Nikhil Pai</h4>
        </div>
      </div>
    </section>
    <section>
      <div class="row">
        <div class="col-md-2">
          <h1 class="cyan_label no_margins top_margin">Films Board:</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 text-center">
          <img src="/images/ao.svg" class="img-responsive">
          <h4>Nikhil Pai</h4>
        </div>
        <div class="col-md-2 text-center">
          <img src="/images/ao.svg" class="img-responsive">
          <h4>Nikhil Pai</h4>
        </div>
        <div class="col-md-2 text-center">
          <img src="/images/ao.svg" class="img-responsive">
          <h4>Nikhil Pai</h4>
        </div>
        <div class="col-md-2 text-center">
          <img src="/images/ao.svg" class="img-responsive">
          <h4>Nikhil Pai</h4>
        </div>
      </div>
    </section>
  </div>
</template>
