// General styles, e. g. for the body tag
@import 'helpers';
@import 'variables';
@import 'lib/elements';

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

body {
  margin-top: 60px;
  font-family: 'ao medium';
}

h2,h3,h4 {
  font-family: 'ao medium';
}

.no_margins {
  margin: 0 !important;
}

.top_margin {
  margin-top: 20px !important;
}

.tiny_padding {
  padding: 5px;
}

.top_padding {
  padding-top: 20px;
}

.large_top_padding {
  padding-top: 40px;
}

.huge_top_padding {
  padding-top: 80px;
}

.yellow_label {
  background-color: @yellow;
  padding: 5px;
}

.magenta_label {
  background-color: @magenta;
  padding: 5px;
}

.cyan_label {
  background-color: @cyan;
  padding: 5px;
}