@import 'variables';
@import 'lib/elements';

.nav{
    width: 100%;
    height: 60px;
    background-color: @grey;
    position: fixed;
    z-index: 1000;
    top: 0;
    -webkit-transition: background 500ms ease;
    -moz-transition: background 500ms ease;
    transition: background 500ms ease;

    &.scroll {
      background-color: rgba(51, 51, 51, 0.9)
    }

    #logo {
      float: left;
      color: white;
      padding-left: 160px;
      img {
        color: white;
        height: 60px;
      }
    }
}


#body-nav {
  position: fixed;
  overflow: hidden;
  top: 0;
  background: transparent;
  display: block;
  -webkit-transition: background 500ms ease;
  -moz-transition: background 500ms ease;
  transition: background 500ms ease;
  height: 100%;
  width: 100%;
  text-align: center;
  z-index: 100;
  pointer-events: none;

  ul {
    position: absolute;
    left: 0%;
    width: 100%;
    top: 50%;
    list-style-type: none;
    padding: 0;
    .transform(translateY(-50%));

    li a {
      display: block;
      text-decoration: none !important;
      height: 100px;
      line-height: 100px;
      font-size: 50px;
      color: #fff;
      opacity: 0;
      border: none;
      .transition(400ms, cubic-bezier(.17,.67,.38,1.46));
      .transform(scale(0.3));
    }
  }
}

.show-nav #body-nav {
  background: rgb(255, 0, 255);
  background: rgba(255, 0, 255, 0.95);
  z-index: 500;
  pointer-events: auto;
  ul li a {
    opacity: 1;
    .transform(scale(1));
  }
}

.show-nav .nav {
  background: rgb(255, 0, 255);
  background: rgba(255, 0, 255, 0.0);
}

.toggle-nav {
  float: right;
  margin-right: 160px;
  z-index: 9999999999999;
  .option {
    left: auto;
    right: 125%;
  }
}


#nav-icon3{
  width: 50px;
  height: 45px;
  margin: 8px 160px;
  .transform(rotate(0deg));
  .transition(.5s, ease-in-out);
}

#nav-icon3 span{
  display: block;
  position: absolute;
  height: 8px;
  width: 100%;
  background: white;
  border-radius: 4px;
  opacity: 1;
  left: 0;
  .transform(rotate(0deg));
  .transition(.25s, ease-in-out);
}


#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 36px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  .transform(rotate(45deg));
}

#nav-icon3.open span:nth-child(3) {
  .transform(rotate(-45deg));
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

@media (max-width: @phoneWidth) {
  .nav{
    #logo {
      padding-left: 5px;
      h3 {
        max-width: 300px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
  #nav-icon3 {
    margin-right: 5px;
    margin-left: 0;
  }
}

@media (max-height: 630px) {
  #body-nav ul li a {
    font-size: 40px;
    height: 70px;
  }
}