@import 'helpers';
@import 'variables';
@import 'fonts';
@import 'lib/elements';
@import 'lib/square.import.less';

* {
  text-align: center;
}



ul{
  font-family: "ao medium";
  text-align: center;
  list-style-type: none; /* removes bullet points */
  padding:0; /* these two lines remove indentation from unordered list */
  margin:0;
}
