<template name = "finance">

	<style>
		.submissionfield {
    		width: 75%;
    		height: 200px;
    		border: 6px solid #999999;
    		padding: 5px;
		}

		h1 {
			font-size: 345%;
		}

		h3 {
			width: 75%;
			margin-left: 12.5%;
		}

		#lefty {
			background-color: black;
			height: 1743px;
			z-index: 99999;
		}

		#appTitle {
			position: fixed;
			margin-left: 5%;
			font-weight: lighter;
			color: white;
		}

		#questions {
			float: right;
		}

		.indivQuestion {
			font-weight: lighter;;
		}

	</style>

	<div class = "row">
		<div id = "lefty" class = "col-md-4">
			<h1 id = "appTitle"> <br> FINANCE <br> APPLICATION <br> 2016 </h1>
		</div>
		<div id = "questions" class = "col-md-8">
			<h1><br> FINANCE APPLICATION 2K16 </h1>


	<form action="https://formspree.io/dgl@u.northwestern.edu"
      method="POST">
      <h3> Why do you want to join Finance?</h3>
			<input class="submissionfield" placeholder = "WHY DO YOU WANNA BE A PART OF CONCERTS?" type="text" name="q1"><br>

      <h3> In dealing with all monetary aspects of the organization, the Finance committee naturally must interact closely with every other committee on A&amp;O. How would you facilitate open lines of communication and transparency between the finance committee and the rest of A&amp;O? </h3>
    <input class="submissionfield" placeholder = "EXPLAIN YOUR TOP THREE" type="text" name="q2"><br>

      <h3> Describe your experience with accounting software like Excel and QuickBooks, as well as any data analytics experience you may have. Also describe any previous experience you may have had with SOFO (Student Organization Finance Office). </h3>
    <input class="submissionfield" placeholder = "EXPLAIN YOUR TOP THREE" type="text" name="q3"><br>

      <h3> In order to fulfill our mission of catering events to the entire campus population, A&amp;O strives to understand the dynamic undergraduate demographic by polling student interests. What creative ideas do you have for collecting data to better organize events towards students’ entertainment? </h3>
    <input class="submissionfield" placeholder = "HOW HAVE WE BEEN DOING?" type="text" name="q4"><br>

      <h3> What is one television show you would recommend to a friend looking for something new to binge watch, and why? </h3>
    <input class="submissionfield" placeholder = "WHO'S UP NEXT?" type="text" name="q5"><br>

    <BR><BR><BR>


    <input type="submit" value="SUBMIT">
</form>
</div>
</div>


</template>
