<template name = "finance">

	<style>
	.submissionfield {
		width: 75%;
		border: 1px solid #999999;
		padding: 5px;
		text-align: left;
		color: black;
		font-family: "ao light";
		letter-spacing: 1px;
	}
	.no_margins {
		margin: 0 !important;
		width: 100%;
	}

	h1 {
		font-size: 345%;
	}

	h3 {
		width: 75%;
		margin-left: 12.5%;
		font-family: "ao light";
		font-size: 18px;
		text-align: left;
	}
	h4{
		line-height: 160%;
	}

	#lefty {
		background-color: black;
		height: 2680px;
		z-index: -10;
		position: fixed
	}

	#appTitle {
		position: fixed;
		margin: 30vh auto;
		font-family: "ao light";
		color: white;
		letter-spacing: 7px;
		font-size: 38px;
		width: 33.33%
	}
	#appSubtitle{
		position: fixed;
		margin: 44vh auto;
		font-family: "ao light";
		color: white;
		letter-spacing: 2px;
		font-size: 16px;
		width: 33.33%;
	}

	#questions {
		float: right;
	}

	.indivQuestion {
		font-weight: lighter;;
	}
	*:focus {
	outline: none;
	}

	.shortQ {
		height: 40px;
		border: none;
		border-bottom: grey solid 1px;
		background-color: white !important;
		color: black;
		font-family: "ao light";
		letter-spacing: 2px;
	}
	select {
		-webkit-appearance: none;
		-webkit-border-radius: 0px;
		width: 75%;
		text-align: center;
	}

	::-webkit-input-placeholder {
		 color: #ccc;
	}

	:-moz-placeholder { /* Firefox 18- */
		 color: #ccc;
	}

	::-moz-placeholder {  /* Firefox 19+ */
		 color: #ccc;
	}

	:-ms-input-placeholder {
		 color: #ccc;
	}

	button {
		outline: none;
		height: 40px;
		text-align: center;
		width: 130px;
		border-radius: 40px;
		background: #fff;
		border: 2px solid #ff00ff;
		color: #ff00ff;
		letter-spacing: 1px;
		text-shadow: 0;
		font-size: 12px;
		font-weight: bold;
		cursor: pointer;
		-webkit-transition: all 0.25s ease;
		transition: all 0.25s ease;
	}
	button:hover {
		color: white;
		background: #ff00ff;
	}
	button:active {
		letter-spacing: 2px;
	}
	#committeebutton{
		border: 2px solid #00ffff;
		color: #00ffff;
	}
	#committeebutton:hover{
		color: white;
		background: #00ffff;
	}
	.onclic {
		width: 40px;
		border-color: #bbbbbb;
		border-width: 3px;
		font-size: 0;
		border-left-color: #ff00ff;
		-webkit-animation: rotating 2s 0.25s linear infinite;
						animation: rotating 2s 0.25s linear infinite;
	}
	.onclic:after {
		content: "";
	}
	.onclic:hover {
		color: #ff00ff;
		background: white;
	}
	</style>

	<div class = "row">
		<div id = "lefty" class = "col-md-4 hidden-xs">
			<h1 id = "appTitle"> FINANCE Q'S </h1>
			<p id="appSubtitle">Imagine if being CFO <br> came with a backstage pass.</p>
		</div>
		<div id = "questions" class = "col-md-8">
			<h1><br>FINANCE APPLICATION 2016 </h1>


	<form action="https://formspree.io/ao.mmdesign@gmail.com"
      method="POST">
			<h3>If you haven't filled out General Questions, please do so <a href="/general">here</a>.</h3>
<hr>
			<h3 class = "indivQuestion">What's your first and last name?</h3>
			<input class = "submissionfield shortQ" placeholder = "HI. MY FULL NAME IS:" type="text" name="name"><br>

			<h3 class = "indivQuestion">What is your school email address? </h3>
			<input class = "submissionfield shortQ" placeholder = "EMAIL ADDRESS" type="text" name="email">
			<br><small class="form-text text-muted">Why this info again? So the form has your name and email attached in case it gets unattached to your general questions.</small><br>

			<div class="form-group">
				<h3 class="indivQuestion">Why do you want to join Finance?</h3>
				<textarea class="submissionfield" rows="10" maxlength="1500" placeholder="Please limit your answer to two paragraphs." name="whyFinance"></textarea>
			</div>

			<div class="form-group">
				<h3 class="indivQuestion">In dealing with all monetary aspects of the organization, the Finance committee naturally must interact closely with every other committee on A&amp;O. How would you facilitate open lines of communication and transparency between the finance committee and the rest of A&amp;O?</h3>
				<textarea class="submissionfield" rows="10" maxlength="1500" placeholder="Please limit your answer to two paragraphs." name="communication"></textarea>
			</div>

			<div class="form-group">
				<h3 class="indivQuestion">Describe your experience with accounting software like Excel and QuickBooks, as well as any data analytics experience you may have. Also describe any previous experience you may have had with SOFO (Student Organization Finance Office).</h3>
				<textarea class="submissionfield" rows="10" maxlength="1500" placeholder="Please limit your answer to two paragraphs." name="experience"></textarea>
			</div>

			<div class="form-group">
				<h3 class="indivQuestion">In order to fulfill our mission of catering events to the entire campus population, A&amp;O strives to understand the dynamic undergraduate demographic by polling student interests. What creative ideas do you have for collecting data to better understand students' entertainment preferences?</h3>
				<textarea class="submissionfield" rows="10" maxlength="1500" placeholder="Please limit your answer to two paragraphs." name="creativeIdeas"></textarea>
			</div>

			<div class="form-group">
				<h3 class="indivQuestion">What is one television show you would recommend to a friend looking for something new to binge watch, and why?</h3>
				<textarea class="submissionfield" rows="10" maxlength="1500" placeholder="Please limit your answer to two paragraphs." name="tvShow"></textarea>
			</div>

			<BR>
	    <button id="button" type="submit" value="Submit">SUBMIT</button>
	</form>
			<hr>
			<h4>Congrats. You've completed the Finance Application! <br>You shall hear back from us by October 16.</h4>
			<br>
				<button onclick="window.location.href='/application'" id="committeebutton">BACK TO QUESTIONS</button>
	</div>
</div>


</template>
