<template name = "speakers">

	<h1><br> SPEAKERS APPLICATION 2K16 </h1>

	<style>
		.submissionfield {
    		width: 75%;
    		height: 200px;
    		border: 2px solid #999999;
    		padding: 5px;
		}

		h1 {
			font-size: 345%;
		}

		h3 {
			width: 75%;
			margin-left: 12.5%;
		}

	</style>


<div class = "row">
	<div class = "col-md-12">
	<form action="https://formspree.io/dgl@u.northwestern.edu"
      method="POST">
      <h3> What about you would make you a good member of Speakers? What about being on Speakers appeals to you? (Maximum 350 words) </h3>
    <input class="submissionfield" placeholder = "WHY DO YOU WANNA BE ON SPEAKERS?" type="text" name="q1"><br>

      <h3> Name four speakers or comedians who would be a good draw at Northwestern

and tell us why you would pick them. (Hint: We can all agree that Chris Rock or

Stephen Colbert would do well; mass appeal matters, but don’t be afraid to get

creative with one or two of your choices). (Please write about one paragraph for

each speaker) </h3>
    <input class="submissionfield" placeholder = "EXPLAIN YOUR TOP 4" type="text" name="q2"><br>

      <h3> How do you find out about new speakers, comedians, and entertainers? </h3>
    <input class="submissionfield" placeholder = "WORD OF MOUTH? COMEDY CENTRAL? EXPLAIN." type="text" name="q3"><br>

      <h3> What are some of your favorite television shows and movies? </h3>
    <input class="submissionfield" placeholder = "JUST OUT OF CURIOSITY" type="text" name="q4"><br>

      <h3> Timing is everything. Whose popularity do you see exploding in the next year? </h3>
    <input class="submissionfield" placeholder = "WHO'S UP NEXT?" type="text" name="q5"><br>

      <h3> Post a link to something funny you’ve seen online in the last year or so. </h3>
    <input class="submissionfield" placeholder = "THIS BETTER BE FUNNY" type="text" name="q6"><br>

      <h3> What is the best show that no one is watching? </h3>
    <input class="submissionfield" placeholder = "I'M CURIOUS" type="text" name="q7">

		<h3> What is the last thing you Googled? </h3>
	<input class="submissionfield" placeholder = "I HOPE IT WASN'T 'COOL SHOWS ON TV RIGHT NOW' " type="text" name="q7">


    <BR><BR><BR>


    <input type="submit" value="SUBMIT THIS SHIT">
</form>
</div>
</div>

</template>
