<template name = "development">

	<style>
	.submissionfield {
		width: 75%;
		border: 1px solid #999999;
		padding: 5px;
		text-align: left;
		color: black;
		font-family: "ao light";
		letter-spacing: 1px;
	}
	.no_margins {
		margin: 0 !important;
		width: 100%;
	}

	h1 {
		font-size: 345%;
	}

	h3 {
		width: 75%;
		margin-left: 12.5%;
		font-family: "ao light";
		font-size: 18px;
		text-align: left;
	}

	#lefty {
		background-color: black;
		height: 2680px;
		z-index: -10;
		position: fixed
	}

	#appTitle {
		position: fixed;
		margin: 30vh auto;
		font-family: "ao light";
		color: white;
		letter-spacing: 7px;
		font-size: 38px;
		width: 33.33%
	}
	#appSubtitle{
		position: fixed;
		margin: 38vh auto;
		font-family: "ao light";
		color: white;
		letter-spacing: 2px;
		font-size: 16px;
		width: 33.33%;
	}

	#questions {
		float: right;
	}

	.indivQuestion {
		font-weight: lighter;;
	}
	*:focus {
	outline: none;
	}

	.shortQ {
		height: 40px;
		border: none;
		border-bottom: grey solid 1px;
		background-color: white !important;
		color: black;
		font-family: "ao light";
		letter-spacing: 2px;
	}
	select {
		-webkit-appearance: none;
		-webkit-border-radius: 0px;
		width: 75%;
		text-align: center;
	}

	::-webkit-input-placeholder {
		 color: #ccc;
	}

	:-moz-placeholder { /* Firefox 18- */
		 color: #ccc;
	}

	::-moz-placeholder {  /* Firefox 19+ */
		 color: #ccc;
	}

	:-ms-input-placeholder {
		 color: #ccc;
	}

	button {
		outline: none;
		height: 40px;
		text-align: center;
		width: 130px;
		border-radius: 40px;
		background: #fff;
		border: 2px solid #ff00ff;
		color: #ff00ff;
		letter-spacing: 1px;
		text-shadow: 0;
		font-size: 12px;
		font-weight: bold;
		cursor: pointer;
		-webkit-transition: all 0.25s ease;
		transition: all 0.25s ease;
	}
	button:hover {
		color: white;
		background: #ff00ff;
	}
	button:active {
		letter-spacing: 2px;
	}
	#committeebutton{
		border: 2px solid #00ffff;
		color: #00ffff;
	}
	#committeebutton:hover{
		color: white;
		background: #00ffff;
	}
	.onclic {
		width: 40px;
		border-color: #bbbbbb;
		border-width: 3px;
		font-size: 0;
		border-left-color: #ff00ff;
		-webkit-animation: rotating 2s 0.25s linear infinite;
						animation: rotating 2s 0.25s linear infinite;
	}
	.onclic:after {
		content: "";
	}
	.onclic:hover {
		color: #ff00ff;
		background: white;
	}
	</style>

<div class = "row">
	<div id = "lefty" class = "col-md-4 hidden-xs">
		<h1 id = "appTitle"> DEVELOPMENT Q'S </h1>
		<p id="appSubtitle">Create the club <br> that creates the entertainment.</p>
	</div>
	<div id = "questions" class = "col-md-8">
		<h1><br>DEVELOPMENT APPLICATION 2016 </h1>

	<form action="https://formspree.io/dgl@u.northwestern.edu"
      method="POST">
			<h3>If you haven't filled out General Questions, please do so <a href="/general">here</a>.</h3>
<hr>
			<h3 class = "indivQuestion">What's your first and last name?</h3>
			<input class = "submissionfield shortQ" placeholder = "HI. MY FULL NAME IS:" type="text" name="name"><br>

			<h3 class = "indivQuestion">What is your school email address? </h3>
			<input class = "submissionfield shortQ" placeholder = "EMAIL ADDRESS" type="text" name="email">
			<br><small class="form-text text-muted">Why this info again? So the form has your name and email attached in case it gets unattached to your general questions.</small><br>

			<div class="form-group">
				<h3 class="indivQuestion">What creative (yet realistic) ideas do you have for group bonding activities? Please keep in mind that the A&O board is usually around 70 people.</h3>
				<textarea class="submissionfield" rows="10" maxlength="1500" placeholder="Please limit your answer to two paragraphs." name="bonding"></textarea>
			</div>

			<div class="form-group">
				<h3 class="indivQuestion">Please describe an organization that you were a member of, either in high school or college, that you felt had the best internal culture. Examples include student council, band, sports team, summer camp, etc. What made being a member of this organization so enjoyable and what did you find most rewarding?</h3>
				<textarea class="submissionfield" rows="10" maxlength="1500" placeholder="Please limit your answer to two paragraphs." name="organizationExperience"></textarea>
			</div>

			<div class="form-group">
				<h3 class="indivQuestion">What is one student group at Northwestern you think A&O should look into working with? How would you like to work with them (what kind of event, etc.)? When building this relationship, what is the most important thing to keep in mind?</h3>
				<textarea class="submissionfield" rows="10" maxlength="1500" placeholder="Please limit your answer to two paragraphs." name="oneStudentGroup"></textarea>
			</div>

			<div class="form-group">
				<h3 class="indivQuestion">A&O has a fantastic network of alumni that work in all fields of entertainment industry. What are some ways that you would engage these alumni with members of the A&O board?</h3>
				<textarea class="submissionfield" rows="10" maxlength="1500" placeholder="Please limit your answer to two paragraphs." name="alumni"></textarea>
			</div>

			<div class="form-group">
				<h3 class="indivQuestion">Best party theme idea you can come up with. Give me all the deets.</h3>
				<textarea class="submissionfield" rows="10" maxlength="1500" placeholder="Please limit your answer to two paragraphs." name="partyTheme"></textarea>
			</div>
      <!-- <h3> What creative (yet realistic) ideas do you have for group bonding activities? Please keep in mind that the A&O board is usually around 70 people. </h3>
    <input class="submissionfield" placeholder = "WHY DO YOU WANNA BE A PART OF CONCERTS?" type="text" name="q1"><br> -->

      <!-- <h3> Please describe an organization that you were a member of, either in high school or college, that you felt had the best internal culture. Examples include student council, band, sports team, summer camp, etc. What made being a member of this organization so enjoyable and what did you find most rewarding? </h3>
    <input class="submissionfield" placeholder = "EXPLAIN YOUR TOP THREE" type="text" name="q2"><br> -->

      <!-- <h3> What is one student group at Northwestern you think A&O should look into working with? How would you like to work with them (what kind of event, etc.)? When building this relationship, what is the most important thing to keep in mind? </h3>
    <input class="submissionfield" placeholder = "EXPLAIN YOUR TOP THREE" type="text" name="q3"><br> -->

      <!-- <h3> A&O has a fantastic network of alumni that work in all fields of entertainment industry.  What are some ways that you would engage these alumni with members of the A&O board? </h3>
    <input class="submissionfield" placeholder = "HOW HAVE WE BEEN DOING?" type="text" name="q4"><br> -->

      <!-- <h3> Best party theme idea you can come up with. Give me all the deets. are the development questions :).  Also, we took on a development member last year who isn’t a returner so I would preferably want to keep development open to all to apply for. </h3>
    <input class="submissionfield" placeholder = "WHO'S UP NEXT?" type="text" name="q5"><br> -->

		<BR>
		<button id="button" type="submit" value="Submit">SUBMIT</button>
</form>
		<hr>
		<h4>Congrats. You've completed the Development Application!<br> You shall hear back from us by October 16.</h4>
		<br>
			<button onclick="window.location.href='/application'" id="committeebutton">BACK TO QUESTIONS</button>
</div>
</div>


</template>
