<template name = "development">

	<h1><br> DEVELOPMENT APPLICATION 2K16 </h1>

	<style>
		.submissionfield {
    		width: 75%;
    		height: 200px;
    		border: 2px solid #999999;
    		padding: 5px;
		}

		h1 {
			font-size: 345%;
		}

		h3 {
			width: 75%;
			margin-left: 12.5%;
		}

	</style>


<div class = "row">
	<div class = "col-md-12">

	<form action="https://formspree.io/dgl@u.northwestern.edu"
      method="POST">
      <h3> What creative (yet realistic) ideas do you have for group bonding activities? Please keep in mind that the A&O board is usually around 70 people. </h3>
    <input class="submissionfield" placeholder = "WHY DO YOU WANNA BE A PART OF CONCERTS?" type="text" name="q1"><br>

      <h3> Please describe an organization that you were a member of, either in high school or college, that you felt had the best internal culture. Examples include student council, band, sports team, summer camp, etc. What made being a member of this organization so enjoyable and what did you find most rewarding? </h3>
    <input class="submissionfield" placeholder = "EXPLAIN YOUR TOP THREE" type="text" name="q2"><br>

      <h3> What is one student group at Northwestern you think A&O should look into working with? How would you like to work with them (what kind of event, etc.)? When building this relationship, what is the most important thing to keep in mind? </h3>
    <input class="submissionfield" placeholder = "EXPLAIN YOUR TOP THREE" type="text" name="q3"><br>

      <h3> A&O has a fantastic network of alumni that work in all fields of entertainment industry.  What are some ways that you would engage these alumni with members of the A&O board? </h3>
    <input class="submissionfield" placeholder = "HOW HAVE WE BEEN DOING?" type="text" name="q4"><br>

      <h3> Best party theme idea you can come up with. Give me all the deets. are the development questions :).  Also, we took on a development member last year who isn’t a returner so I would preferably want to keep development open to all to apply for. </h3>
    <input class="submissionfield" placeholder = "WHO'S UP NEXT?" type="text" name="q5"><br>

    <BR><BR><BR>


    <input type="submit" value="SUBMIT THIS SHIT">
</form>
</div>
</div>


</template>
