<template name="header">
  <div class="nav">
    <div id="logo">
      <h3>{{name}}</h3>
    </div>
    <div id="nav-icon3" class="toggle-nav">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <nav id="body-nav">
    <ul>
      <li><a href="{{pathFor route='home'}}">Home</a></li>
      <li><a href="#">Calendar</a></li>
      <li><a href="{{pathFor route='gallery'}}">Gallery</a></li>
      <li><a href="{{pathFor route='news'}}">News</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</template>

