<template name = "films">

<style>
.submissionfield {
	width: 75%;
	border: 1px solid #999999;
	padding: 5px;
	text-align: left;
	color: black;
	font-family: "ao light";
	letter-spacing: 1px;
}
.no_margins {
	margin: 0 !important;
	width: 100%;
}

h1 {
	font-size: 345%;
}

h3 {
	width: 75%;
	margin-left: 12.5%;
	font-family: "ao light";
	font-size: 18px;
	text-align: left;
}
h4{
	line-height: 160%;
}

#lefty {
	background-color: black;
	height: 2680px;
	z-index: -10;
	position: fixed
}

#appTitle {
	position: fixed;
	margin: 30vh auto;
	font-family: "ao light";
	color: white;
	letter-spacing: 7px;
	font-size: 38px;
	width: 33.33%
}
#appSubtitle{
	position: fixed;
	margin: 44vh auto;
	font-family: "ao light";
	color: white;
	letter-spacing: 2px;
	font-size: 16px;
	width: 33.33%;
}

#questions {
	float: right;
}

.indivQuestion {
	font-weight: lighter;;
}
*:focus {
outline: none;
}

.shortQ {
	height: 40px;
	border: none;
	border-bottom: grey solid 1px;
	background-color: white !important;
	color: black;
	font-family: "ao light";
	letter-spacing: 2px;
}
select {
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
	width: 75%;
	text-align: center;
}

::-webkit-input-placeholder {
	 color: #ccc;
}

:-moz-placeholder { /* Firefox 18- */
	 color: #ccc;
}

::-moz-placeholder {  /* Firefox 19+ */
	 color: #ccc;
}

:-ms-input-placeholder {
	 color: #ccc;
}

button {
	outline: none;
	height: 40px;
	text-align: center;
	width: 130px;
	border-radius: 40px;
	background: #fff;
	border: 2px solid #ff00ff;
	color: #ff00ff;
	letter-spacing: 1px;
	text-shadow: 0;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
button:hover {
	color: white;
	background: #ff00ff;
}
button:active {
	letter-spacing: 2px;
}
#committeebutton{
	border: 2px solid #00ffff;
	color: #00ffff;
}
#committeebutton:hover{
	color: white;
	background: #00ffff;
}
.onclic {
	width: 40px;
	border-color: #bbbbbb;
	border-width: 3px;
	font-size: 0;
	border-left-color: #ff00ff;
	-webkit-animation: rotating 2s 0.25s linear infinite;
					animation: rotating 2s 0.25s linear infinite;
}
.onclic:after {
	content: "";
}
.onclic:hover {
	color: #ff00ff;
	background: white;
}
	</style>

	<div class = "row">
		<div id = "lefty" class = "col-md-4 hidden-xs">
			<h1 id = "appTitle">FILMS Q'S </h1>
			<p id="appSubtitle">You liked it on your MacBook. <br> Try it on the big screen.</p>
		</div>
		<div id = "questions" class = "col-md-8">
			<h1><br>FILMS APPLICATION 2016 </h1>


	<form action="https://formspree.io/ao.mmdesign@gmail.com"
      method="POST">
			<h3>If you haven't filled out General Questions, please do so <a href="/general">here</a>.</h3>
<hr>
			<h3 class = "indivQuestion">What's your first and last name?</h3>
			<input class = "submissionfield shortQ" placeholder = "HI. MY FULL NAME IS:" type="text" name="name"  required><br>

			<h3 class = "indivQuestion">What is your school email address? </h3>
			<input class = "submissionfield shortQ" placeholder = "EMAIL ADDRESS" type="text" name="email"  required>
			<br><small class="form-text text-muted">Why this info again? So the form has your name and email attached in case it gets unattached to your general questions.</small><br>

			<div class="form-group">
				<h3 class="indivQuestion">Why do you want to be a part of A&O Films?<br> (Non-Freshmen Only): How can you improve A&O Films?</h3>
				<textarea class="submissionfield" rows="10" maxlength="1500" placeholder="Please limit your answer to two paragraphs." name="whyFilms"></textarea>
			</div>

			<div class="form-group">
				<h3 class="indivQuestion">What qualifies you to manage the responsibilities associated with being a member of A&O Films?  How do we know we can rely on you?</h3>
				<textarea class="submissionfield" rows="10" maxlength="1500" placeholder="Please limit your answer to two paragraphs." name="responsibilites"></textarea>
			</div>

			<div class="form-group">
				<h3 class="indivQuestion">What is your favorite film and why?  There’s no incorrect or correct answer, we’re only interested in the reasoning behind the choice.</h3>
				<textarea class="submissionfield" rows="10" maxlength="1500" placeholder="Please limit your answer to two paragraphs." name="favoriteFilm"></textarea>
			</div>

			<div class="form-group">
				<h3 class="indivQuestion">How did the the McConaissance happen? What happened in Matthew’s career arc to get him from “Fool’s Gold” to an Academy Award?</h3>
				<textarea class="submissionfield" rows="10" maxlength="1500" placeholder="Please limit your answer to two paragraphs." name="mcConaissance"></textarea>
			</div>

			<div class="form-group">
				<h3 class="indivQuestion">From the following list of films, build a sample lineup of 3 films. Give a few sentence description about your choices: Sausage Party, Florence Foster Jenkins, The Secret Life of Pets, Star Trek Beyond, Jason Bourne, Suicide Squad.</h3>
				<textarea class="submissionfield" rows="10" maxlength="1500" placeholder="Please limit your answer to two paragraphs." name="sampleLineup"></textarea>
			</div>


			<BR>
	    <button id="button" type="submit" value="Submit">SUBMIT</button>
	</form>
			<hr>
			<h4>Congrats. You've completed the Films Application!</h4>
			<br>
				<button onclick="window.location.href='/application'" id="committeebutton">BACK TO QUESTIONS</button>
	</div>
</div>
</template>
