<template name = "films">

<style>
		.submissionfield {
    		width: 75%;
    		height: 200px;
    		border: 2px solid #999999; 
    		padding: 5px;
		}

		h1 {
			font-size: 345%;
		}

		h3 {
			width: 75%;
			margin-left: 12.5%;
		}

	</style>

	<h1><br> FILMS APPLICATION 2K16 </h1>


	<form action="https://formspree.io/dgl@u.northwestern.edu"
      method="POST">
      <h3> Why do you want to be a part of A&O Films? (Non-Freshmen Only): How can you improve A&O Films? </h3>
    <input class="submissionfield" placeholder = "WHY DO YOU WANNA BE A PART OF FILMS?" type="text" name="Films Question 1"><br>

      <h3> What qualifies you to manage the responsibilities associated with being a member of A&O Films?  How do we know we can rely on you? </h3>
    <input class="submissionfield" placeholder = "HOW ARE YOU QUALIFIED?" type="text" name="Films Question 2"><br>

      <h3> What is your favorite film and why?  There’s no incorrect or correct answer, we’re only interested in the reasoning behind the choice.
 </h3>
    <input class="submissionfield" placeholder = "WHAT IS IT>" type="text" name="Films Question 3"><br>

      <h3> How did the the McConaissance happen? What happened in Matthew’s career arc to get him from “Fool’s Gold” to an Academy Award?
 </h3>
    <input class="submissionfield" placeholder = "DON'T ASK WHAT THE MCCONAISSANCE IS" type="text" name="Films Question 4"><br>

      <h3> From the following list of films, build a sample lineup of 3 films. Give a few sentence description about your choices: Sausage Party, Florence Foster Jenkins, The Secret Life of Pets, Star Trek Beyond, Jason Bourne, Suicide Squad.
 </h3>
    <input class="submissionfield" placeholder = "WHAT'S YOUR LINEUP?" type="text" name="Films Question 5"><br>

    <BR><BR><BR>


    <input type="submit" value="SUBMIT THIS SHIT">
</form>
</template>
