<template name="album">
  <div id="content" class="container-fluid">
    <section class="row">
      <div class="owl-carousel gallery-carousel">
      </div>
    </section>
  </div>
  <div class="container album_container">
    <div class="row">
      {{#each album.photos}}
        <div class="col-md-3">
          <a href="{{link}}" target="_blank">
            <div class="img-container">
              <img src="{{source}}" class="img-responsive" >
            </div>
          </a>
        </div>
      {{/each}}
    </div>
  </div>
</template>
