<template name="news">
  <div class="container-fluid">
    <div class="row no-gutter">
      {{#each stream}}
        <div class="col-md-3 col-sm-6 col-xs-12 {{#unless isPhone}}h{{/unless}}">
          {{#if equal social_type "insta"}}
            {{> insta_block}}
          {{/if}}
          {{#if equal social_type "fb"}}
            {{> fb_block}}
          {{/if}}
          {{#if equal social_type "tweet"}}
            {{> tweet_block}}
          {{/if}}
        </div>
      {{/each}}
    </div>
  </div>
</template>


<template name="insta_block">
  <div class="social_block insta">
    <figure>
      <img class="img-responsive overlay" src="{{this.images.standard_resolution.url}}">
      <figcaption>
        <h3>{{caption.text}}</h3>
        <span>{{formatDate created_time}}</span>
        <a href="{{link}}" target="_blank"><i class="fa fa-instagram"></i></a>
      </figcaption>
    </figure>
  </div>
</template>

<template name="tweet_block">
  <div class="social_block tweet">
    <figure>
      <h2>{{text}}</h2>
      <figcaption>
        <h3>@aoproductions</h3>
        <span>{{formatDate created_time}}</span>
        <a href="https://twitter.com/aoproductions" target="_blank"><i class="fa fa-twitter"></i></a>
      </figcaption>
    </figure>
  </div>
</template>

<template name="fb_block">
  {{#if equal type "photo"}}
    <div class="social_block">
      <div class="social_block insta">
        <figure>
          <img data-fb-id="{{object_id}}" class="img-responsive overlay" src="{{fbImage object_id}}">
          <figcaption>
            <h3>{{message}}</h3>
            <span>{{formatDate created_time}}</span>
            <a href="{{link}}" target="_blank"><i class="fa fa-instagram"></i></a>
          </figcaption>
        </figure>
      </div>
    </div>
  {{/if}}
</template>