<template name="contact">
  <div class="container top_padding">
    <div class="row bottom_margin">
      <h1 class="text-center">Contact us:</h1>
      {{#each emails}}
        <section class="row">
          <div class="col-md-4 col-md-offset-2">
            <h1 class="{{#if isDesktop}}text-right{{/if}}"><span class="{{color}}_label">{{name}}: </span></h1>
          </div>
          <div class="col-md-4">
            {{#if isPhone}}
              <h3><span class="tiny_padding"><a href="mailto:{{email}}">{{email}}</a></span></h3>
            {{else}}
              <h1><span class="tiny_padding"><a href="mailto:{{email}}">{{email}}</a></span></h1>
            {{/if}}
          </div>
        </section>
      {{/each}}
    </div>
  </div>
</template>
