<template name = "mandm">


	<style>
		.submissionfield {
    		width: 75%;
    		height: 200px;
    		border: 2px solid #999999;
    		padding: 5px;
		}

		h1 {
			font-size: 345%;
			font-weight: bolder;
		}

		h3 {
			width: 75%;
			margin-left: 12.5%;
		}

		#lefty {
			background-color: black;
			height: 2700px;
			z-index: 99999;
		}

		#appTitle {
			position: fixed;
			margin-left: 5%;
			font-weight: lighter;
			color: white;
		}

		#questions {
			float: right;
		}

		.indivQuestion {
			font-weight: lighter;;
		}

    #submit {
      width: 50%;
      margin-left: 45%;
    }



	</style>


<div class = "row">
	<div id = "questions" class = "col-md-12">
		<h1><br> M&M APPLICATION 2K16 </h1>

		<form action="https://formspree.io/dgl@u.northwestern.edu"
	      method="POST">
	      <h3 class="indivQuestion"> You have one week to promote a concert featuring Tinashe at the Riviera Theatre downtown. What does your campaign look like? </h3>
	    <input class="submissionfield" placeholder = "WHAT'S THE GAMEPLAN?" type="text" name="q1"><br>

	      <h3 class="indivQuestion"> What are your favorite parts of M&M – Dealing with the media? Answering questions from the masses? Organizing/dealing with logistics? Big-picture campaign work? Graphic design? Web coding? Please rank, explain, and talk about your comfort level and experience with each. </h3>
	    <input class="submissionfield" placeholder = "WHAT CAN YOU DO? WHAT DO YOU LIKE?" type="text" name="q2"><br>

	      <h3 class="indivQuestion"> What purpose do you think A&O ‘s website and social media accounts serve, and how would you use them to their maximum potential? </h3>
	    <input class="submissionfield" placeholder = "EXPLAIN, PLEASE" type="text" name="q3"><br>

	      <h3 class="indivQuestion"> What do you think of A&O’s brand among the Northwestern community?
Be honest. Talk about what could be done to improve our image and brand on campus. If you are a freshman, what are your first impressions of the A&O brand? </h3>
	    <input class="submissionfield" placeholder = "HOW HAVE WE BEEN DOING?" type="text" name="q4"><br>

	      <h3 class="indivQuestion"> If you were reality show, what show would you be? </h3>
	    <input class="submissionfield" placeholder = "WHICH ONE?" type="text" name="q5"><br><br><br><br><br><br>

      <h3><em>The following questions are position specific. If you are interested in one of these roles within M&M, please answer the corresponding questions below.</em></h3>

<br><br><br><br>

        <h2> Desiigner </h2>
	      <h3 class="indivQuestion"> Create a poster advertising one of the following: Years & Years, Fetty Wap, or FKA Twigs. JPG or PDF, please. Attach the  le to your email along with your application. </h3>
	    <input id = "submit" placeholder = "Submit!" type="file" name="q6"><br>

<br><br><br><br>
      <h2> Web Developer </h2>
<h3 class="indivQuestion"> If you have coding experience, visit www.aoproductions.net to get a feel for our style and design a splash page for a show downtown at the Riviera Theatre featuring Calvin Harris. (Email your files to virginiavankeuren2017@u.northwestern.edu) </h3>


      <h3 class="indivQuestion"> If you have any, include link(s) to web design projects you think exemplify your skills. </h3>
      <input class="submissionfield" placeholder = "LINKS TO COOL WEB STUFF PLZ" type="text" name="q7">

<br><br><br><br>
      <h2> Social Media Manager </h2>
      <h3 class="indivQuestion"> Check out A&O’s Facebook and Twitter. What do we do well, and what can we improve, both when promoting a show and between events? What do you think the voice of A&O should sound like? </h3>
      <input class="submissionfield" placeholder = "HOW CAN WE IMPROVE?" type="text" name="q7">


      <h3 class="indivQuestion">  A&O has a show featuring Calvin Harris at the Riviera downtown, but tickets aren’t selling well. Write a few sample FB posts and tweets to get students excited and promote ticket sales. </h3>
      <input class="submissionfield" placeholder = "SAMPLES HERE" type="text" name="q7">


      <h3 class="indivQuestion"> An attendee at Blowout didn’t get a floor seat and is upset. She tweets: “@aoproductions SUCKS, I could barely see! NOT going to next year’s Blowout”. How would you tweet back? </h3>
      <input class="submissionfield" placeholder = "HOW WOULD YOU TWEET BACK?" type="text" name="q7">






	    <BR><BR><BR>


	    <input type="submit" value="SUBMIT THIS SHIT">
	</form>
	</div>
</div>



</template>
