<template name = "mandm">


	<style>
		.submissionfield {
    		width: 75%;
    		height: 200px;
    		border: 2px solid #999999;
    		padding: 5px;
		}

		h1 {
			font-size: 345%;
			font-weight: bolder;
		}

		h3 {
			width: 75%;
			margin-left: 12.5%;
		}

		#lefty {
			background-color: black;
			height: 2700px;
			z-index: 99999;
		}

		#appTitle {
			position: fixed;
			margin-left: 5%;
			font-weight: lighter;
			color: white;
		}

		#questions {
			float: right;
		}

		.indivQuestion {
			font-weight: lighter;;
		}



	</style>


<div class = "row">
	<div id = "lefty" class = "col-md-4">
		<h1 id = "appTitle"> <br><br> M&M <br> APPLICATION <br> 2016 </h1>
	</div>
	<div id = "questions" class = "col-md-8">
		<h1><br> M&M APPLICATION 2K16 </h1>

		<form action="https://formspree.io/dgl@u.northwestern.edu"
	      method="POST">
	      <h3 class="indivQuestion"> Why do you want to be a part of concerts?<br>What characteristics do you possess that would make you a perfect fit? </h3>
	    <input class="submissionfield" placeholder = "WHY DO YOU WANNA BE A PART OF CONCERTS?" type="text" name="q1"><br>

	      <h3 class="indivQuestion"> Go to your iTunes or music program and sort by the most played songs.<br>Name the artists from the top three songs (Don’t cheat--we’re not judging the names.)<br>and discuss why you think they would be either a good or bad fit for Northwestern. </h3>
	    <input class="submissionfield" placeholder = "EXPLAIN YOUR TOP THREE" type="text" name="q2"><br>

	      <h3 class="indivQuestion"> Being on the Concerts committee is more than sitting in a meeting and talking about bands you like and want to bring to campus. We deal directly with professionals including agents, managers, and university of cials. Characterize your experience (if any) in dealing with adults in a professional environment, or, if you have not worked in this type of environment before, discuss how you feel about working with professionals in their line of work. </h3>
	    <input class="submissionfield" placeholder = "EXPLAIN YOUR TOP THREE" type="text" name="q3"><br>

	      <h3 class="indivQuestion"> How well do you think the concerts we’ve had in the past (Young The Giant, AlunaGeorge, T-Pain, Rae Sremmurd, Baauer, Grouplove, IconaPop, etc.) have catered to the tastes of the student body? What areas of music do you think are neglected (if any) based on previous shows and campus demand? How do you think we could do a better job of appeasing everyone and what would be your goals for the year if selected? If you’re a new student, just answer the last question. </h3>
	    <input class="submissionfield" placeholder = "HOW HAVE WE BEEN DOING?" type="text" name="q4"><br>

	      <h3 class="indivQuestion"> Which artists do you think are going to blow up in 2017? Why? </h3>
	    <input class="submissionfield" placeholder = "WHO'S UP NEXT?" type="text" name="q5"><br>

	      <h3 class="indivQuestion"> Where do you find new music? (i.e. blogs, friends, Spotify, the radio, etc.). </h3>
	    <input class="submissionfield" placeholder = "WHERE DO YOU FIND NEW JAMS?" type="text" name="q6"><br>

	      <h3 class="indivQuestion"> What is your favorite Kanye West album? (Elaborate on your choice) </h3>
	    <input class="submissionfield" placeholder = "PLEASE DON'T SAY YOU DON'T HAVE ONE" type="text" name="q7">

	    <BR><BR><BR>


	    <input type="submit" value="SUBMIT THIS SHIT">
	</form>
	</div>
</div>



</template>
