<template name="calendar">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ul class="calendar_buttons top_margin">
          <li class="grey_label white_text"><a id="upcoming" class="white_text">upcoming</a></li>
          <li class="yellow_label grey_text"><a id="this_year_ago">{{years_ago }}</a></li>
          <li class="magenta_label"><a id="one_year_ago">{{years_ago 1}}</a></li>
          <li class="cyan_label"><a id="two_year_ago">{{years_ago 2}}</a></li>
        </ul>
      </div>
      <div class="col-md-6 text-right">
        <h1>{{selected_year}}</h1>
      </div>
    </div>
    <div class="row calendar no-gutter">
      {{#if events}}
        {{#each events}}
          {{#if month}}
            <div class="col-md-2 {{#unless turnOffSquare}}h{{/unless}}">
              <div class="month_block">
                  <h3>{{month}}</h3>
              </div>
            </div>
          {{else}}
            <div class="col-md-2 {{#unless turnOffSquare}}h{{/unless}}">
              <div class="event_block {{color_scheme}}">
                <a href="https://www.facebook.com/{{id}}" target="_blank">
                  <h3 class="text-right">{{formatDay start_time}}</h3>
                  <h3>{{name}}</h3>
                </a>
              </div>
            </div>
          {{/if}}
        {{/each}}
      {{else}}
        <div class="col-md-2 {{#unless turnOffSquare}}h{{/unless}}">
          <div class="month_block">
              <h3>No Events found</h3>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</template>
