<template name="footer">
  <div class="container large_top_margin top_padding">
    <div class="row">
      <div class="col-md-4">
        <h1>A&O Productions <small>Est. 1969</small></h1>
        <p>Send us your questions at questions@aoproductions.net</p>
      </div>
      <div class="col-md-8 text-right">
        <ul class="social_links top_margin">
          <li class="magenta_label"><a href="https://instagram.com/ao.productions/" target="_blank">instagram</a></li>
          <li class="cyan_label"><a href="https://www.facebook.com/ao.productions.nu" target="_blank">facebook</a></li>
          <li class="yellow_label grey_text"><a href="https://twitter.com/aoproductions" target="_blank">twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
</template>

